body,
html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f9;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

header {
  text-align: center;
  padding: 1em;
  background: #fff;
}

button#generate {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #0084ff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button#generate:hover {
  background-color: #0056b3;
}

main {
  flex: 1;
  display: flex;
  overflow: hidden;
  width: 100%;
}

#palette {
  display: flex;
  width: 100%;
}

#palette div {
  flex-grow: 1;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#palette div span {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Semi-transparent white background */
  padding: 5px;
  border-radius: 4px; /* Optional, for rounded corners */
  color: black; /* Ensures the text is dark */
}

footer {
  text-align: center;
  padding: 1em;
  background: #fff;
  color: #666;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.color-info {
  margin-top: 20px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
}

.color-info h2 {
  color: #0056b3;
}
